<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeBDRip 1</title>
</head>
<body>
    <header>
    </header>

    <main>
        Acá irá la platilla donde se muestra cada anime como tal, de tal forma que pueda usarla para cada anime y no estar escribiendo todo de nuevo y solo tenga que reemplazar lo necesario para cada uno de los animes.
    </main>

    <footer>
    </footer>
</body>
</html>