/* estilos al main de la pagina */

main{
	background-color: #ededed;
   padding: 1rem 5vw;
	/* border: 2px solid black; */
}


/*Estilos de la caja que contiene las cards de los animes*/
/* Estilos del intro de la pagina */
.intro{
	margin: 0rem 2rem;
	padding: 2rem 0rem;
}

.cards--anime{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	justify-content: center;
	align-items: center;
	text-align: center; /*centro las letras de cada card*/
	gap: 1rem .1rem;
}

/*para que las imagenes no se me desborden de manera presipitada*/
.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 360px;
	/* border: 2px solid rebeccapurple; */
	
}

.card__tittle{
	height: 60px;
}

.card__tittle{
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__img{
	display: flex;
	justify-content: center;
}

.card__img--figure{
	width: 180px;
	height: 260px;
}

.card__img--figure img{
	width: 100%;
	height: 100%;
}


.intro__h1{
	text-align: center;
	padding: 1.8rem 0rem;
	font-size: 1.5rem;
	color: red;
	text-decoration: underline red;
}

				/* Estilos de la seccion de anime */

.anime__tittle{
	padding: 1rem 0rem;
	margin-bottom: 1rem;
	color: red;
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
}

/* .card{
	border: 2px solid red;
} */


/* Estilos de la secciones de nuevos animes */
.newAnimes{
	padding: 2rem 0rem;
	text-align: center;
}

.newAnimes__tittle{
	padding: 1rem 0rem;
}

.newAnimes__list h4{
	margin: .5rem 0rem;
}

/* acomodar el main para pantallas mas chicas */

@media (max-width:800px){
	.intro{
		margin: 0 .5rem;
	}

	main{
		padding: 1rem 0rem;
	}

}